{% extends 'music/base.html' %}
{% block title  %} Song details{% endblock %}


{% block body %}
<div class="container">
 <div class="row">
     <div class="col-md-3">
        <div class="well">
         <img src="{{ album.album_logo.url}}" class="img-responsive">
         <p style="font-size: 25px;"> {{ album.artist }} </p>
            <p style="font-size: 20px;"> Album: {{ album.album_title}} </p>
            <p style="font-size: 15px;"> Genre: {{ album.genre }} </p>
        </div>
      </div>

     <div class="col-md-9">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <strong style="text-transform: uppercase">{{ album.album_title }}</strong>
                <a href="{% url 'music:addsong' album.id  %}" class="btn btn-default pull-right btn-xs">
                   <span class="glyphicon glyphicon-plus" aria-hidden="TRUE">
                   </span>&nbsp;
                   Add song
               </a>
            </div>
            <div class="panel-body" style="padding: 0">
            <div class="well">
                <table id="example" class="table table-striped table-condensed" cellspacing="5px" width="100%">
                     <thead>
                        <tr>
                            <th>Artist</th>
                             <th>Album</th>
                             <th>Song-title</th>
                             <th>Song</th>
                             <th>Action</th>
                             <th>Genre</th>
                        </tr>
                     </thead>
                     <tbody>
                     {% for song in album.song_set.all %}
                         <tr>
                             <td>{{ album.artist }}</td>
                             <td>{{ album.album_title }}</td>
                             <td>{{ song.title_name }}</td>
                             <td>
                                 <audio controls="controls" preload='none'>
                                    <source src="{{ song.title.url }}" type="audio/mpeg" />
                                 </audio>
                             </td>
                             <td>
                                 <form action="{% url 'music:songdelete' song.id%}" method="post" style="display: inline; ">
                                    {% csrf_token %}
                                    <input type="hidden"  value="Confirm" />
                                    <button type="submit" class="btn btn-primary btn-sm">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                 </form>
                             </td>
                             <td>{{ album.genre }}</td>
                         </tr>
                     {% endfor %}
                     </tbody>
                 </table>
               </div>
            </div>
        </div>
     </div>
      </div>
<div class="row1" >
    <div class="col-md-3"></div>
    <div class="col-md-9">
     <div class="well">
        <div class="fb-comments" data-href="http://127.0.0.1:8000/music/{{ album.id }}"data-width="100%" data-numposts="10"></div>
    </div>
     </div>
    </div>

</div>
{% endblock %}