{% extends 'music/base.html' %}
{% block title  %} Muzic{% endblock %}
{% block body %}
        <div class="container">
            <div class="row">
                 {% for album in object_list %}
                <div class="col-md-4">
                 <div class="well well-lg">
                 
                 <a href="{%   url 'music:detail' album.id %}"> <img src="{{ album.album_logo.url }}" class="img-responsive" style="height: 350px" ></a>
                 <p style="font-size: 13px; color: black">{{ album.created }} </p>
                 <p style="font-size: 25px;"> {{ album.artist }} </p>
                 <p style="font-size: 20px;"> Album: {{ album.album_title}} </p>
                 <p style="font-size: 15px;"> Genre: {{ album.genre }} </p>


                             <a href="{% url 'music:detail' album.id %}" class="btn btn-primary btn-sm" role="button">Details</a>
                              <a href="{% url 'music:albumupdate' album.id %}" class="btn btn-primary btn-sm" role="button">Edit</a>
                                <!-- Delete Album -->
                                <form action="{% url 'music:albumdelete' album.id %}" method="post" style="display: inline;">
                                    {% csrf_token %}
                                    <input type="hidden" name="album_id" value="{{ album.id }}" />
                                    <button type="submit" class="btn btn-default btn-sm">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>

                                </form>

                                <a href="#" class="btn btn-default btn-sm btn-favorite" role="button">
                                    <span class="glyphicon glyphicon-star {% if album.is_favorite %}active{% endif %}"></span>
                                </a>

                               <div class="btn-group">
                                  <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Share
                                  </button>
                                  <button type="button" class="btn btn-primary btn-sm dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                  </button>
                                  <div class="dropdown-menu">
                                    <a class="dropdown-item" href="https://www.facebook.com/sharer/sharer.php?u=http://127.0.0.1:8000/music/{{ album.id }}"><p style="text-align:center">Facebook</p></a>
                                      <div class="dropdown-divider"></div>
                                      <a class="dropdown-item" href="https://twitter.com/home?status=I'm%20going%20to%20learn%20to%20Code...%20Come%20build%20an%20web%20apsp%20with%20me!%20%23CFE%20and%20@justinmitchel%20http://127.0.0.1:8000/music/{{ album.id }}"><p style="text-align: center">Twitter</p></a>
                                      <div class="dropdown-divider"></div>
                                      <a class="dropdown-item" href="https://plus.google.com/share?url=http://127.0.0.1:8000/music/{{ album.id }}"> <p style="text-align: center">Google plus</p></a>
                                  </div>
                               </div>

                     </div>
                </div>
                {% endfor %}
             </div>

        {# .... **Now the pagination section** .... #}
        {% if page_obj.has_other_pages %}
              <ul class="pagination">
                {% if page_obj.has_previous %}
                  <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in page_obj.paginator.page_range %}
                  {% if page_obj.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                  {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                  <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
              </ul>
        {% endif %}
       </div>


{% endblock %}