{% extends 'music/base.html' %}
{% block title  %} Friends{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form class="form-horizontal" action="request/" method="post">
            {% csrf_token %}
            <h4>{{ profile.email }} : {{ profile.username }}</h4>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-success">
                        Submit
                    </button>
                </div>
            </div>
        </form>
        </div>
    </div>
{% endblock %}